.content{
    padding-bottom: 170px;
}
.big-picture{
    width: 1200px;
    height: 1110px;
    margin-bottom: 40px;
}
.big-picture img{
    width: 100%;
    display: block;
} 
.introduce{
    margin-bottom: 40px;
}
.introduce .img-wrap{
    width: 476px;
    height: 484px;
    margin-right: 40px;
    float: left;
}
.introduce .text{
    width: 684px;
    float: left;
}
.introduce .text h3{
    width: 540px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 10px;
}
.introduce .text p{
    font-size: 22px;
    color: #000000;
    line-height: 34px;
}

.headline{
    width: 100%;
    margin-bottom: 30px;
}
.headline h3{
    font-size: 28px;
    color: #253b94;
    padding-bottom: 5px;
    border-bottom: 3px solid #253b94;
    letter-spacing: 5px;
    display: inline-block;
}
.album-list{
    margin-bottom: 56px;
}
.album-list .item{
    width: 270px;
    height: 155px;
    overflow: hidden;
    float: left;
    margin:  0 40px 20px 0;
}
.album-list .item img{
    width: 100%;
}
.album-list .item:nth-child(4n+4){
    margin-right: 0;
}

#extraPhoto{
    width: 1175px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    background: #2c86c0;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}

.owl-nav{
    position: absolute;
    right: 0;
    top:-70px;
}

.owl-nav .owl-prev:hover span{
    color: #fff;
    background: #72c02c;
} 
.owl-nav .owl-next:hover span{
    color: #fff;
    background: #72c02c;
} 

.owl-nav span{
    font-size: 30px;
    background: #f5f5f5;
    width: 30px;
    height: 30px;
    line-height: 26px;
    display: inline-block;
    margin: 0 2px;
}

.dormitory-picture {
    margin-bottom: 80px;
}
.dormitory-picture .item{
    float: left;
}
.dormitory-picture .item:nth-child(even){
    float: right;
}

.dormitory-close{
    margin-bottom: 116px;
}
.cost-description{
    text-align: center;
    line-height: 44px;
    font-size: 30px;
    margin-bottom: 80px;
}


/* 课程选择 */
.course-close .close-item h1{
    height: 64px;
    line-height: 64px;
    text-align: center;
    background-color: #253b94;
    font-size: 28px;
    color: #ffffff;
}

.course-close .close-item .thead{
    height: 54px;
    line-height: 54px;
    background-color: #ffffff;
    font-size: 28px;
    color: #253b94;
    display: flex;
}
.course-close .close-item .thead span{
    display: block;
    text-align: center;
}
.course-close .close-item .thead span:nth-child(1){
    width: 25%;
    /* background-color: #000; */
}
.course-close .close-item .thead span:nth-child(2){
    width: 50%;
    /* background-color: #ccc; */
}
.course-close .close-item .thead span:nth-child(3){
    width: 25%;
    /* background-color:red; */
}
.course-close .close-item .tbody {
    margin-bottom: 54px;
}
.course-close .close-item .tbody li{
    height: 54px;
    line-height: 54px;
    background-color: #ffffff;
    font-size: 22px;
    text-align: center;
    color: #253b94;
    display: flex;
}
.course-close .close-item .tbody li .label{
    width: 25%;
    font-size: 26px;
    font-weight: bold;
}
.course-close .close-item .tbody li .course{
    width: 50%;
}
.course-close .close-item .tbody li .other{
    width: 25%;
}
.course-close .close-item .tbody li .house-type{
    margin-right: 150px;
}
.course-close .close-item .tbody li:nth-child(odd){
    background-color: #eeeeee;
}
.course-close .close-item .tbody li:hover{
    background-color: #eeeeee;
}


.content .consultBtn{
	width: 290px;
	height: 70px;
	font-size: 24px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 12px;
    background: url(../images/consulting-btn-icon.png) no-repeat;
    cursor: pointer;
    margin: 0 auto;
    transition: all .3s;
	
}
.content .consultBtn:hover{
    transform: scale(1.1);
}
.content .consultBtn .icon{
	margin-right: 7px;
}
.content .consultBtn .icon img{
	vertical-align: middle;
}