 .banner{
	width: 100%;
    height: 800px;
    overflow: hidden;
	 position: relative;
 }
.cb-slideshow li:nth-child(1) span {
	background-image: url(../images/banner06.png)
}
 
.cb-slideshow li:nth-child(2) span {
	background-image: url(../images/banner02.png)
}
 
.cb-slideshow li:nth-child(3) span {
	background-image: url(../images/banner03.png)
}
.cb-slideshow li:nth-child(4) span {
	background-image: url(../images/banner07.png)
} 
 
.cb-slideshow li:nth-child(5) span {
	background-image: url(../images/banner05.png)
}
 
.cb-slideshow li:nth-child(6) span {
	background-image: url(../images/banner06.png)
}
.cb-slideshow li:nth-child(7) span {
	background-image: url(../images/banner07.png)
}
 
.cb-slideshow,.cb-slideshow:after {
	position: absolute;
	width: 100%;
	height: 800px;
	top: 0;
	left: 0;
	z-index: -2
}
 
.cb-slideshow:after {
	content: ''
}
 
.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: -2;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 36s linear infinite 0s;
	-moz-animation: imageAnimation 36s linear infinite 0s;
	-o-animation: imageAnimation 36s linear infinite 0s;
	-ms-animation: imageAnimation 36s linear infinite 0s;
	animation: imageAnimation 36s linear infinite 0s
}
 
.cb-slideshow li:nth-child(2) span {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
	-o-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s
}
 
.cb-slideshow li:nth-child(3) span {
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-o-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s
}
  
.cb-slideshow li:nth-child(4) span {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-o-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s
}

.cb-slideshow li:nth-child(5) span {
	-webkit-animation-delay: 24s;
	-moz-animation-delay: 24s;
	-o-animation-delay: 24s;
	-ms-animation-delay: 24s;
	animation-delay: 24s
}
 
.cb-slideshow li:nth-child(6) span {
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	-o-animation-delay: 30s;
	-ms-animation-delay: 30s;
	animation-delay: 30s
}
.cb-slideshow li:nth-child(7) span {
	-webkit-animation-delay: 36s;
	-moz-animation-delay: 36s;
	-o-animation-delay: 36s;
	-ms-animation-delay: 36s;
	animation-delay: 36s
}
 
@-webkit-keyframes imageAnimation {
	0% {
		opacity: 0;
		-webkit-animation-timing-function: ease-in
	}
 
	8% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-webkit-animation-timing-function: ease-out
	}
 
	17% {
		opacity: 1;
		-webkit-transform: scale(1.1) rotate(0)
	}
 
	25% {
		opacity: 0;
		-webkit-transform: scale(1.1) rotate(0)
	}
 
	100% {
		opacity: 0
	}
}

.slideshow-filter{
	width: 100%;
    height: 100%;
	background: rgba(0,0,0,0.3);
	transition: background .5s ease-in-out;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.idea{
	width: 1200px;
	height: 312px;
	line-height: 312px;
	font-size: 78px;
	background:rgba(0,0,0,.5);
	color: #ffffff;
	/* font-family: 'pangmenzhengdao'; */
	font-family: SourceHanSansCNBold;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	transform: translate(-50%,-50%);
}