@charset "utf-8";
/* 重置样式 */
body,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,span,button{
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
}

 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

em{
	font-style: normal;
}

i{font-style: inherit;}

a{
	text-decoration: none;
}

input,textarea,button{
	outline: none;
}

/*去除input默认样式*/
input[type=button], input[type=submit], input[type=file], button { 
	cursor: pointer; 
	-webkit-appearance: none; 
	background: none;
	border: none;
	outline: none;
}

li{
	list-style-type: none;
}

@font-face{
	font-family: 'pangmenzhengdao';
	src: url('../font/庞门正道标题体2.0增强版.ttf');
}

/*清除浮动*/	
.clearfix:before{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
}
.clearfix:after{
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0;
} 
.clearfix{zoom:1}  /*是在处理兼容性问题*/

/*public 省略号*/
.publicEllipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.inner-wrap{
	width: 1200px;
	margin: 0 auto;
}

/* 公共头部 */
.header .top{
	width: 100%;
	height: 113px;
	color: #ffffff;
	font-size: 16px;
	background-color: #253b94;
}
.header .top .inner-wrap{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.header .top .tel{
	margin-right: 45px;
}
.header .top .icon{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;	
	margin-right: 15px;
}

/* logo & nav */
.header .bottom{
	width: 100%;
	height: 128px;
	background-color: #ffffff;
}
.header .bottom .inner-wrap{
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* logo */
.header .logo{
    width: 130px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* nav */
.header .nav .nav-item{
	height: 50px;
	line-height: 50px;
	float: left;
	margin-left: 45px;
	cursor: pointer;
	position: relative;
}
.header .nav .nav-item a{
	color: #000000;
}
.header .nav .nav-item.active a{
	color: #4a90e2;
}
.header .nav .nav-item:hover .sub-list{
	display: block;
}
.header .nav .nav-item:hover a{
	color: #4a90e2;
}
.header .nav .nav-item:hover .iconfont:before{
	display: inline-block;
	transform: rotate(180deg);  
	-webkit-transform: rotate(180deg);  
	-moz-transform: rotate(180deg);  
	-o-transform: rotate(180deg);  
	-ms-transform: rotate(180deg); 
}
.header .nav .iconfont::before{
	transition: all 0.3s ease-in-out;  
	-webkit-transition: all 0.3s ease-in-out;  
	-moz-transition: all 0.3s ease-in-out;  
	-o-transition: all 0.3s ease-in-out;  
}

/* 二级导航 */
.header .nav .sub-list{
	width: 138px;
	background-color: #fff;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 99;
}
.header .nav .sub-list .sub-item{
	height: 34px;
	line-height: 34px;
	font-size: 12px;
}
.header .nav .sub-list .sub-item a{
	color: #1c1c1c;
	display:block;
	padding: 0 15px;
	box-sizing: border-box;
}
.header .nav .sub-list .sub-item.active a{
	color: #ffffff;
	background-color: #253b94;
}
.header .nav .sub-list .sub-item:hover a{
	color: #ffffff;
	background-color: #253b94;
}



/* 公共底部 */
.footer{
	width: 100%;
	height: 845px;
	color: #ffffff;
	background-image: url(../images/footer-bg.png);
}
.footer .inner-wrap{
	height: 100%;
	position: relative;
}
.footer .backTop{
	cursor: pointer;
	position: absolute;
	top: 140px;
	right: 0;

}
.footer .logo,.footer .qr-code,.footer .contact-way{
	float: left;
}
.footer .logo{
	margin-top: 180px;
	margin-right: 138px;
}
.footer .qr-code{
	text-align: center;
	margin-top: 185px;
	margin-right: 74px;
}
.footer .qr-code p{
	line-height: 55px;
	font-size: 20px;
}
.footer .qr-code img{
	width: 138px;
	height: 138px;
	display: block;
}
.footer .contact-way{
	width: 366px;
	margin-top: 130px;
}
.footer .contact-way div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 50px;
	line-height: 28px;
}
.footer .contact-way div:last-child{
	margin-bottom: 0;
}
.footer .contact-way .icon{
	margin-right: 15px;
	vertical-align: middle;
}
.footer .copyright{
	font-size: 18px;
	margin-bottom: 70px;
}
.footer .footerNav li{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	border-right: 2px solid #ffffff;
	padding:0 9px;
	box-sizing: border-box;
}
.footer .footerNav li:last-child{
	border-right: none;
}
.footer .footerNav li a {
	color: #ffffff;
}
.footer .consultBtn{
	width: 122px;
	height: 66px;
	font-size: 16px;
	color: #253b94;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 12px;
	background-color: #c8e3f9;
	cursor: pointer;
	position: absolute;
	bottom: 218px;
	left: 0;
}
.footer .consultBtn .icon{
	margin-right: 7px;
}
.footer .consultBtn .icon img{
	vertical-align: middle;
}

/* 广告图 */
.advert-wrap{
    width: 100%;
    height: 430px;
    position: relative;
    margin-bottom: 40px;
}
.advert-wrap img{
    position: absolute;
    top: 0;
    left:50%;
    margin-left:-960px
}

/* 位置 */
.location{
	font-size: 18px;
	margin-bottom: 20px;
}
.location a{
	color: #4a90e2;
}
.location span{
	width: 20px;
	height: 10px;
	margin: 0 10px;
	display: inline-block;
	background: url(../images/arrow-r-location.png) no-repeat;
	background-size:100%
}
.location ul li{
	float: left;
}
.location ul li.active a{
	color: #727375;
}

