@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1560055360437'); /* IE9 */
  src: url('iconfont.eot?t=1560055360437#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABmAAAAJeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgbQE2AiQDCAsGAAQgBYRtBzsbngXIHpIkRWoxRSGoiEIAOYiH7/ejnfv+WxOJG0WziEBiOnErySQkpjOd0Og0kpfw73+tzYlGtE4+0XYJs6RJV+b//bv+d85eJ0RCh4RXQrsQkVDgEiXI7BP3Tv8ooEDmA8pxLxpr0qQuoC4OpMDGmhRZCWXcMHbBCzxOoNaghszmztEplGX2uEA8U9KAcsEjyyxeLVQ2LM3ilQrV6UUKvIy+H//1okxSUbCLdp5u27D268pJKh7LRxcBwUtAqytQYB7IxEFjZEtOMFZObSRvFBwrP/h1VZaBWRzVINhfZ+fWg34ofCaRJ37UeILH6qgHGJp0DdEj7zoOH6a+vNY+rDz9WHy47/n8Xv+4euxOL++MzufJ115Fv7+wcCa80ScX07+dz59/fo7uwBr+WbGX3YUMgvfT32fXTYv/5boMfow+rkX6bJgNVO/KGvwS0cC6bEhsU8qaqLE56TlVSa1alLCj1ddUbcf5E6FaxwRblYEMhWrjZGbOo0KdBVSqtoJac3ZX12mj5USuwaxbgNDsEUmjbyg0m5GZ+YkKnX5RqTlyqHUUbVvWmQxV3dBkMNloTlFZUShcC1fj/GOSQ9/QeUnEPiedKj92W51yfJdC0kvMSEeyxyxQ6CjAHXAa+X6EsY5csrjlMMeDdls0vallRQFUbdCIgREbMk0hxRIJiaA1q1Y+f4xIQz6D7qipC54jWkp1j7paOgPIXWU4qOZRXkmNSD2MCUjQIgG0AwYRny+C4uZBLmJhLc6EUGyg7TQSQ5Wt7dXB322DWrYuhdOj0PJcGaFMHV/uJmGOhgA=') format('woff2'),
  url('iconfont.woff?t=1560055360437') format('woff'),
  url('iconfont.ttf?t=1560055360437') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1560055360437#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantou:before {
  content: "\e65e";
}

